@import "../../styles/variables.scss";
@import "../../sections/styles/projects.module.scss";

.root {
  display: flex;
  flex-direction: column;
  padding: 0vh 0vw;

  .header {
    .badgeBox {
      display: flex;
      gap: 2px;
    }
  }

  .body {
    text-indent: $text-indent;
    text-align: justify;
  }
}
