@import "../../styles/variables.scss";

@mixin flexCentral {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin chevronBox {
  @include flexCentral;
  width: 8vw;
}

.root {
  display: flex;

  .leftChevronBox {
    @include chevronBox;

    .leftChevron:hover {
      opacity: 0.75;
    }
  }

  .center {
    .slideshowNav {
      @include flexCentral;
      gap: 2%;
    }
  }

  .rightChevronBox {
    @include chevronBox;

    .rightChevron:hover {
      opacity: 0.75;
    }
  }
}
