@import "../../styles/variables.scss";

.root {
  width: 100vw;
  display: flex;
  background: $lightgray;

  .left {
    padding: 2vh 4vw;
    flex-grow: 2;
    min-width: 50ch;
    max-width: 60ch;

    .aside {
      text-align: center;
      margin: 0.5ch 0ch;
    }

    .body {
      text-indent: 3ch;
      text-align: justify;

      .emphasize {
        text-decoration: underline;
      }
    }
  }

  .right {
    padding: 2vh 4vw;
    flex-grow: 3;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
