@import "./variables.scss";

html,
body {
  margin: 0px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

a {
  color: $primary;
}

a:hover {
  color: $darkgray;
}

h1 {
  color: $primary;
}

h2,
h3,
h4 {
  color: $darkgray;
}

p {
  color: $darkgray;
  font-size: $font-size;

  // TOD0: responsive-fy font sizing
  // font-size:
}

hr {
  width: 100%;
  margin: 5vh 0vw;
  border: 1px solid $darkgray;
}
