@import "./variables.scss";

html,
body {
  margin: 0px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

// TODO: better looking links
a {
  color: $primary;
}

a:hover {
  color: $darkgray;
}

h1,
h2 {
  color: $primary;
}

h3,
h4 {
  color: $darkgray;
}

p {
  color: $darkgray;
}

hr {
  width: 100%;
  margin: 5vh 0vw;
  border: 1px solid $darkgray;
}
